In [1]:
import pandas as pd
import numpy as np

In [29]:
data=pd.read_csv('TRAIN.csv')

In [3]:
data.isnull().sum()

Age                  0
Workclass         2079
fnlwgt               0
Education            0
Education_Num        0
Martial_Status       0
Occupation        2087
Relationship         0
Race                 0
Sex                  0
Capital_Gain         0
Capital_Loss         0
Hours_per_week       0
Country            656
Target               0
dtype: int64

In [6]:
data['Occupation'].describe()

count               34440
unique                 14
top        Prof-specialty
freq                 4642
Name: Occupation, dtype: object

In [12]:
data['Worlclass']=data['Workclass'].fillna('Private')
data['Occupation']=data['Occupation'].fillna('Prof-speciality')
data=data.dropna()

In [14]:
data.isnull().sum().sum()

0

In [16]:
data.drop('fnlwgt',axis=1,inplace=True)

In [17]:
data1=pd.get_dummies(data)

In [23]:
from sklearn.neighbors import NearestNeighbors
model_knn=NearestNeighbors(metric='cosine',algorithm='brute')
model_knn.fit(data1)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='cosine',
         metric_params=None, n_jobs=None, n_neighbors=5, p=2, radius=1.0)

In [30]:
index=data['fnlwgt']

In [38]:
#for neighbours=2 recommending two nearest data for the friends
test=np.array(data1.iloc[0,:])
test=test.reshape(1,-1)
distances,indices=model_knn.kneighbors(test,n_neighbors=2)
ind=indices[0]
recom=index[indices[0]]

In [39]:
indices

array([[  0, 400]], dtype=int64)

In [32]:
recom1=index[indices[0]]

In [40]:
index[indices[0]]

0       77516
400    416103
Name: fnlwgt, dtype: int64

In [41]:
data.loc[indices[0]]

,Age,Workclass,fnlwgt,Education,Education_Num,Martial_Status,Occupation,Relationship,Race,Sex,Capital_Gain,Capital_Loss,Hours_per_week,Country,Target
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
400,20,Private,416103,Some-college,10,Never-married,Handlers-cleaners,Own-child,White,Male,0,0,40,United-States,<=50K